* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  display:flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  padding: 10px;
  align-items:center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.front-page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.front-page-header {
  padding-top: 35px;
}

.front-page-paragraph {
  text-align: center;
  padding: 20px;
}

.start-btn {
  padding: 10px 20px;
  width:120px
}

.header a{
  color:#8a2be2;
  font-size: 16px;
  padding-top: 30px;
  text-decoration: none;
}

.question {
  font-size: 14px;
  font-weight:bolder;
  margin-bottom: 10px;
}

.question-box{
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  width:60%;
  margin: 20px auto;
}

.hide {
  display:none;
}

.btn {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0px;
}

.btn:hover {
  background-color: pink;
  cursor: pointer;
}

.answer-btn {
  width: 150px;
}


.grade {
  display: flex;
  color: lightgrey;
  font-style: italic;
  font-size: 30px;
  border-top: 2px lightgrey solid;
  margin-top: 20px;
}
.stored-score {
  background-color: rgb(161, 132, 168);
}