body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
};

.header {
  display: flex;
  padding: 10px;
  align-items:center;
  justify-content: space-between;
}



.header a{
  color:#8a2be2;
  font-size: 20px;
  padding-top: 30px;
  text-decoration: none;
}

.question-box{
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  width:60%;
  margin: 20px auto;
}

.btn {
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.btn:hover {
  background-color: pink;
  cursor: pointer;
}

.answer-btn {
  width: 150px;
}


.grade {
  display: flex;
  color: grey;
  font-style: italic;
  font-size: 30px;
  border-top: 2px grey solid;
}
.stored-score {
  background-color: rgb(161, 132, 168);
}